.gallery {
  padding: 140px 50px;
  display: flex;
  justify-content: space-between;
}

.gallery-flex {
  padding: 140px 0;
}

.gallery-flex > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px;
}

.gallery-flex > div > div {
  margin: 10px;
}

@media (max-width: 767px) {
  .gallery-flex > div {
    margin: 20px;
  }

  .gallery {
    margin: 370px 10px;
    border: 4px solid #d1b397;
    border-radius: 20px;
    padding: 0 0;
    width: 365px;
  }  

  .no-form {
    margin-top: 50px;
  }

  .gallery h4 {
    padding: 10px 0 0 0;
  }  

}