.routine-builder {
  padding-bottom: 50px;
  margin: 0 50px 0 0;
  width: 900px;
}

.daily-builder-asana {
  width: 70px;
}

.asanas-list-builder-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 50px;
}

.user-picture {
  width: 50px;
  border-radius: 10px;
  background-color: rgba(65, 59, 61, 0.247);
  border: 4px solid rgba(65, 59, 61, 0.247);
}

.each-asana-builder-wrapper, .one-user-wrapper {
  background-color: rgb(230, 243, 243);
  border-radius: 20px;
  box-shadow: 1px 1px 3px gray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  transition: all .1s;
  width: 79px;
  height: 135px;
  margin: 13px 8px;
}

.one-user-wrapper {
  justify-content: space-between;
  padding: 25px 10px;
  width: 100px;
  margin: 17px;
}

.each-asana-builder-wrapper > p, .one-user-wrapper > p {
  margin: 0;
  position: relative;
  font-size: 1rem;
}

.each-asana-builder-wrapper:hover, .one-user-wrapper:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 10px 10px 20px gray;
  transition: all .1s;
  color: #000000;
}

.one-user-wrapper:hover .user-picture {
  border: 4px solid rgba(65, 59, 61, 0.514);
  background-color: rgba(65, 59, 61, 0.514);
}

/* use these for single user asana assignment: */

/* .selected {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 10px 10px 20px gray;
  transition: all .1s;
  color: #000000;
}

.selected > .user-picture {
  border: 4px solid rgba(65, 59, 61, 0.514);
  background-color: rgba(65, 59, 61, 0.514);
} */


.assigning-section {
  background-color: #e6f3f3;
  margin: 0 50px 50px 50px;
  padding: 40px 30px;
  border-radius: 20px;
  height: fit-content;
  min-height: 310px;
}

.form-wrapper > input {
  font-size: 1.4rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  width: 615px;
  height: 2rem;
  margin-left: 10px;
  padding-left: 7px;
  border-radius: 5px;
  color: #413B3D;
  border: 1px solid #413B3D;
}

.routine-description {
  height: fit-content;
  min-height: 3rem;
}

.builder-buttons {
  display: flex;
  width: 270px;
  justify-content: space-between;
  align-self: flex-end;
}

.builder {
  height: fit-content;
  min-height: 210px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 40px 40px 40px;
}

.builder > * {
  margin: 17px;
}

.builder-mid-section {
  width: 100%;
}

.all-users-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 40px 0 40px;
}

.daily-name {
  font-size: .8rem;
  font-weight: 400;
}

.daily-sansk {
  font-size: .7rem;
}

@media (max-width: 767px) {

  .routine-builder {
    margin: 20px;
    width: 360px;
    padding-bottom: 10px;
  }

  .routine-builder h4 {
    padding: 15px 0 5px 0;
    font-size: 1.8rem;
    font-weight: 600;
  }

  .assigning-section {
    margin: 15px;
  }

  .routine-builder .each-asana-builder-wrapper {
    height: 45px;
    width: 45px;
    margin: 5px;
  }
  
  .routine-builder .daily-builder-asana {
    width: 50px;
    position: absolute;
  }
  
  .routine-builder .daily-sansk, .routine-builder .daily-name {
    display: none;
  }

  .routine-builder .form-wrapper label {
    display: none;
  }

  .routine-builder .form-wrapper input {
    width: 240px;
  }
  
  .builder {
    margin: 0;
    align-content: center;
    justify-content: center;
    min-height: 142px;
  }
  
  .asanas-list-builder-wrapper {
    margin: 25px;
  }
  
  .all-users-list-wrapper {
    justify-content: center;
    margin: 20px 0;
  }

  .one-user-wrapper {
    width: 60px;
    height: fit-content;
    min-height: 90px;
    justify-content: space-between;
    padding: 10px;
    font-weight: 500;
  }

  .builder-buttons {
    margin-top: 10px;
  }
}