.routine-builder {
  padding-bottom: 50px;
  margin-top: 50px;
}

.daily-builder-asana {
  width: 70px;
}

.asanas-list-builder-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 50px;
}

.user-picture {
  width: 50px;
  border-radius: 10px;
  background-color: rgba(65, 59, 61, 0.247);
  border: 4px solid rgba(65, 59, 61, 0.247);
}

.each-asana-builder-wrapper, .one-user-wrapper {
  background-color: rgb(230, 243, 243);
  border-radius: 20px;
  box-shadow: 1px 1px 3px gray;
  padding: 10px;
  width: 150px;
  height: 150px;
  margin: 17px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  transition: all .1s;
}

.one-user-wrapper {
  justify-content: space-between;
  padding: 25px 10px;
  height: 120px;
  margin: 17px;
}

.each-asana-builder-wrapper > p, .one-user-wrapper > p {
  margin: 0;
  position: relative;
}

.each-asana-builder-wrapper:hover, .one-user-wrapper:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 10px 10px 20px gray;
  transition: all .1s;
  color: #000000;
}

.one-user-wrapper:hover .user-picture {
  border: 4px solid rgba(65, 59, 61, 0.514);
  background-color: rgba(65, 59, 61, 0.514);
}

/* use these for single user asana assignment: */

/* .selected {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 10px 10px 20px gray;
  transition: all .1s;
  color: #000000;
}

.selected > .user-picture {
  border: 4px solid rgba(65, 59, 61, 0.514);
  background-color: rgba(65, 59, 61, 0.514);
} */


.assigning-section {
  background-color: #f0e7df;
  margin: 0 50px 50px 50px;
  padding: 40px 30px;
  border-radius: 5px;
  height: fit-content;
  min-height: 310px;
}

.form-wrapper > input {
  font-size: 1.4rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  width: 1060px;
  height: 2rem;
  margin-left: 10px;
  padding-left: 7px;
  border-radius: 5px;
  color: #413B3D;
  border: 1px solid #413B3D;
}

.routine-description {
  height: fit-content;
  min-height: 3rem;
}

.builder-buttons {
  display: flex;
  width: 270px;
  justify-content: space-between;
  align-self: flex-end;
}

.builder {
  height: fit-content;
  min-height: 210px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 80px 40px 80px;
}

.builder > * {
  margin: 17px;
}

.builder-mid-section {
  width: 100%;
}

.all-users-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 80px;
}