.password-recovery-form-wrapper {
  padding: 150px;
  min-height: 35vh;
}
.password-recovery-form {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 460px;
    height: 120px;
    background-color: rgba(241, 203, 170, 0.89);
    padding: 30px;
}

.password-recovery-form input{
  padding-left: 5px;
  font-size: 1.5rem;
  font-weight: 200;
  color: #413b3D;
  width: 380px;
  margin-left: 5px;
  line-height: 2rem;
  border: none;
  background-color: #eee1d66b;
  border-bottom: 1px solid #413B3D;
}

.password-recovery-form label {
  font-size: 1.5rem;
  padding-bottom: .3rem;
}

.password-recovery-form > h4{
  margin: 10px 0;
}

.recovery-button {
  margin-top: 10px;
}