.footer, .footer-mobile {

  /* width: 100%; */
  /* max-width: 1440px; */
  
  
  letter-spacing: 0.05rem;
  height: fit-content;
  /* min-height: 120px; */
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 20px calc(50% - 720px) 20px calc(50% - 680px);
  background-color: #ecdbcb;
  line-height: 1.7rem;
}

.footer-mobile {
  margin-top: 110px;
  font-size: 1rem;
  padding: 1rem 1.3rem;
  justify-content: space-between;
  min-height: 85px;
}

.footer-mobile a:not(.social-link) {
  border-bottom: 1px solid rgba(65, 59, 61, 0.658);
}

.footer-mobile a:not(.social-link):hover {
  border-bottom: 1px solid #6BD5D3;
}

.footer-mobile .footer-middle ul {
  padding: 0;
}

.footer-mobile .footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85px;
  text-align: right;
}

.footer > div {
  display: flex;
  flex: 0 0 30%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
}

.footer-left > p {
  margin-top: 25px;
}

.footer-middle > ul {
  margin: 0;
  list-style: none;
}

.footer a:not(.builtby-link) {
  text-decoration: none;
}

.builtby-link {
  font-weight: 600;
  color: rgba(65, 59, 61, 0.651);
}

.builtby-p-mobile {
  margin: 0;
  display: flex;
  line-height: 0.8rem;
  margin-top: 4rem;
  color: rgba(65, 59, 61, 0.712);
}

.builtby-p {
  margin: 0;
  display: flex;
  line-height: 0.8rem;
  margin-top: 2.8rem;
  color: rgba(65, 59, 61, 0.712);
}

.footer-hover {
  color: #413B3D;
  border-bottom: 1px solid #413b3da4;
}

.footer-hover:after {
  content: "";
  display: block;
  /* outline: 2px solid black; */
  outline: 2px solid #ecdbcb;
  height: .5rem;
  width: 0;
}

/* .footer-hover-2:after {
  content: "";
  display: block;
  outline: 2px solid #ecdbcb;
  height: .3rem;
  width: 0;
} */


.social-icon {
  width: 30px;
  margin-right: 5px;
}

.footer-hover:hover:after, .footer-hover-2:hover:after {
  animation: underline infinite alternate;
  animation-duration: 1.5s;
}

@keyframes underline {
  0% {
    width: .001%;
  }
  100% {
    width: 100%;
  }
}

.footer-mobile .social-icon {
  width: 20px;
}

.builtby-icon {
  width: 25px;
  border-radius:12px; 
}

.builtby-p {
  margin: 0;
  margin-top: 40px;
}

.social-text {
 position: relative;
 bottom: 5px;
 left: 3px;
}