.daily-asana {
  width: 45px;
}

.daily-asanas-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.each-asana-wrapper {
  margin: 0 15px;
}

.daily-routine-card {
  background-color: #e6f3f3;
  border-radius: 20px;
  box-shadow: 1px 1px 3px gray;
  padding: 30px;
  width: 330px;
  margin: 0 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .1s;
  height: fit-content;
}

.daily-routine-card h4 {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 600;
}

.each-asana-builder-wrapper-on-card, .builder-top {
  background-color: #ecdbcb;
  margin: 5px;
}