.hero {
  background-color: #c29061;
  background-image: url("/images/hero.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 115vh;
  min-width: 950px;
  z-index: -3;
}

.hero section {
  height: 100px;
}

.hero-mobile {
  background-image: url("/images/hero.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
  z-index: -3;
  background-position: -185px 30px;
  min-width: 400px;
  max-width: 400px;
}